body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ecf0f1;
    color: #2c3e50;
}

.header {
    background-color: #3498db;
    color: #ecf0f1;
    padding: 20px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    max-width: 50px;
    border-radius: 50%;
}

.header-title {
    margin: 0;
    font-size: 24px;
}

.nav {
    background-color: #2980b9;
    padding: 10px;
    text-align: center;
}

nav a {
    color: #ecf0f1;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
    font-size: 16px;
    transition: color 0.3s ease;
}

nav a:hover {
    color: #ffffff;
}

.main-section {
    padding: 40px;
    text-align: center;
}

.main-title {
    margin: 0;
    font-size: 36px;
    color: #3498db;
}

.main-text {
    font-size: 18px;
    color: #555;
    margin-bottom: 30px;
}

.cta-button {
    background-color: #e74c3c;
    color: #ecf0f1;
    padding: 5px 15px;
    font-size: 15px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.cta-button:hover {
    background-color: #c0392b;
}

.exercises-section {
    padding: 60px;
    text-align: center;
    background-color: #ffffff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    margin: 50px 0;
}

.exercises-title {
    margin: 0;
    font-size: 32px;
    color: #2c3e50;
}

.footer {
    background-color: #3498db;
    color: #ecf0f1;
    padding: 20px;
    text-align: center;
    position: relative;
    bottom: 0;
    width: 100%;
}

.footer-contact {
    margin: 0;
    font-size: 16px;
}

.footer-copyright {
    margin: 10px 0 0;
    font-size: 14px;
    opacity: 0.8;
}
